@model Emlak.Entity.Concrete.Agent

<div class="top-nav clearfix">
    <ul class="nav pull-right top-menu">
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="@Model.ImageUrl">
                <span class="username">@Model.Name @Model.Surname</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a href="#"><i class=" fa fa-suitcase"></i>Profil</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> Ayarlar</a></li>
                <li><a href="login.html"><i class="fa fa-key"></i>Çıkış Yap</a></li>
            </ul>
        </li>
    </ul>

</div>